.color{
    
    border: solid 1px black; 
    width:  40px;
    height: 40px;
    margin: 10px;
    display: inline-block;

}
.primeira{
    background-color: black;
}
.segunda{
    background-color:blue;
}
.terceira{
    background-color:yellow;
}
.quarta{
    background-color:green;
}
.pixel{
     
    border: solid 1px black; 
    width:  40px;
    height: 40px;
    margin: 10px;
    display: inline-block;
    background-color: white;

}